.hidden{
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 1s;
}
.hidden2{
  opacity: 0;
  filter: blur(15px);
  transform: translateX(100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.select{
  perspective: none;
}

body:before, body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: url('./components/pages/img/bgdesktop.jpg') no-repeat center / cover;
  z-index: -1;
}

body:after {
  transform: scaleY(-1);
  top: 100vh;
}
/* cv */

.botao:link,
.botao:visited {
  
}

.botao:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.botao:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.botao-white {
  background-color: #fff;
  color: #777;
  border: 1px solid white;
}

.botao::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  border: 1px solid white;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.botao-white::after {
  background-color: #fff;
}

.botao:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.botao-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

/* ////////////////// */
.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  background: transparent;
  color: white;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
